
<h1 class="text-danger">{{parents}}</h1>
        <div class="main">

            <div class= "row">
                <div class="col-md-3" *ngFor="let i of products | paginate: { itemsPerPage: limit, currentPage: p, totalItems: totalData }">
                    <div class="products">
                        <img src="/assets/img/{{i.slug}}.jpeg " alt="" class="img-fluid">
                        <a routerLink="/san-pham/{{i.slug}}"><h3 class="text-dark">{{i.name}}</h3></a>
                    </div>
                </div>
                <pagination-controls (pageChange)="p = $event" ></pagination-controls>
            </div>
        </div>

