
    <div class="container">
        <div class="main">
            <h1>Đăng ký thành viên</h1>
            <!-- Kiểm tra dữ liệu bên ngoài -->
            <form #formRegister="ngForm" (ngSubmit)="register(formRegister.value)">
                <div class="form-group">
                  <label for="name">Họ tên:</label>
                  <input type="text" #name="ngModel" required class="form-control" placeholder="Nhập họ tên" id="name" name="name" [ngModel] >
                  <span class="error" *ngIf = "name.invalid && (name.dirty || name.touched)">Họ tên không hợp lệ</span>
                </div>
                <div class="form-group">
                    <label for="username">Tên đăng nhập:</label>
                    <input type="text" #username="ngModel" required class="form-control" placeholder="Nhập tên đăng nhập" id="username" name="username" [ngModel] >
                    <span class="error" *ngIf = "username.invalid && (username.dirty || username.touched)">Tên đang nhập không hợp lệ</span>
                </div>
                <div class="form-group">
                    <label for="password">Mật khẩu:</label>
                    <input type="password" #password="ngModel" required class="form-control" placeholder="Nhập mật khẩu" id="password" name="password" [ngModel]>
                    <span class="error" *ngIf = "password.invalid && (password.dirty || password.touched)">Mật khẩu không hợp lệ</span>
                </div> 
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" #email="ngModel" required class="form-control" placeholder="Enter email" id="email" name="email" [ngModel]>
                    <span class="error" *ngIf = "email.invalid && (email.dirty || email.touched)">Email không hợp lệ</span>
                </div>
                <div class="form-group">
                  <label for="phone">Số điện thoại:</label>
                  <input type="tel" #phone="ngModel" required class="form-control" placeholder="Nhập số điện thoại" id="phone" name="phone" [ngModel] >
                  <span class="error" *ngIf = "phone.invalid && (phone.dirty || phone.touched)">Số điện thoại không hợp lệ</span>
                </div>
                
                <button type="submit" [disabled]="formRegister.invalid" class="btn btn-primary">Đăng ký</button>
              </form>  

              <!-- Kiểm tra dữ liệu bên trong -->

              <!-- <form [formGroup]="registerForm" (ngSubmit)="getFormGroup()">
                <div class="form-group">
                  <label for="name">Họ tên:</label>
                  <input type="text" class="form-control" placeholder="Nhập họ tên" id="name" name="name" formControlName="name">
                  <span class="error" *ngIf = "name.invalid && (name.dirty || name.touched)">Họ tên không hợp lệ</span>
                </div>
                <div class="form-group">
                    <label for="username">Tên đăng nhập:</label>
                    <input type="text" class="form-control" placeholder="Nhập tên đăng nhập" id="username" name="username" formControlName="username">
                    <span class="error" *ngIf = "username.invalid && (username.dirty || username.touched)">Tên đang nhập không hợp lệ</span>
                </div>
                <div class="form-group">
                    <label for="password">Mật khẩu:</label>
                    <input type="password" class="form-control" placeholder="Nhập mật khẩu" id="password" name="password" formControlName="password">
                    <span class="error" *ngIf = "password.invalid && (password.dirty || password.touched)">Mật khẩu không hợp lệ</span>
                </div> 
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email"  class="form-control" placeholder="Enter email" id="email" name="email" formControlName="email">
                    <span class="error" *ngIf = "email.invalid && (email.dirty || email.touched)">Email không hợp lệ</span>
                </div>
                <div class="form-group">
                  <label for="phone">Số điện thoại:</label>
                  <input type="tel" class="form-control" placeholder="Nhập số điện thoại" id="phone" name="phone" formControlName="phone">
                  <span class="error" *ngIf = "phone.invalid && (phone.dirty || phone.touched)">Số điện thoại không hợp lệ</span>
                </div>
                
                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Đăng ký</button>
              </form> -->
        </div>
    </div>

